name: $(Build.DefinitionName)_$(Date:yyyyMMdd)$(Rev:.r)

resources:
  repositories:
    - repository: release-engine-core # REPOSITORY ALIAS ###  MUST NOT  ### BE CHANGED
      type: github
      name: thecloudexplorers/release-engine-core # RELEASE ENGINE REPOSITORY ###  MUST NOT  ### BE CHANGED
      endpoint: thecloudexplorers
      ref: refs/tags/v1.8.0

trigger:
  - main
  - users/*

pool: MSHosted-WorkloadsPool

extends:
  template: /patterns/templates/iac/resource_group_scope_pattern/deployment-pattern.yml@release-engine-core
  
  parameters:
    deploymentSettings:
      configurationFilePath: /_config

      environments:
        - name: development
          dependsOn: build
          displayName: Dev
          afterBuild: true          
        - name: test
          dependsOn: development
          displayName: Test
        - name: production
          dependsOn: test
          displayName: Prod
